.carousel-item 
{
 margin: auto;


}

#moncarousel 
{
 height: 600px;
 width: 800px;
 margin: auto;

}


#carouselExampleIndicators
{
  padding-bottom: 50px;
}

	
#titremovies{
	text-align: center;
	color: white;
}

#iconsdecarousel{
	height: 600px;
}